/Hypotenuse_Java.class
/Ifstatement_Java.class
/Java_expression.class
/Java_math.class
/Jitesh.class
/Random_value_Java.class
/Switch_Java.class
/Variable.class
/changevariable.class
/java_GUI.class
/test.class
/userinput.class
